body {
	color: #666666;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	margin: 15px 0 0 15px;
	width: 850px;
}

ul {
	list-style-type: none;
	margin-left: -30px;
}

.center {
	text-align: center;
}

.main_score_style {
	float: left;
	width: 275px;
	height: 480px;
	border: 1px solid #E2E2E2;
	margin-bottom: 15px;
}

.main_score_add_style {
	float: left;
	width: 267px;
	height: 60px;
	border: 1px solid #E2E2E2;
	margin-bottom: 20px;
	padding: 4px;
}

.block_header {
	padding: 3px;
	border-bottom: 1px solid #E2E2E2;
	background-color: #F2F2F2;
}
.block_content {
	padding: 3px;
	padding-top: 6px;
}

#players_and_scores {
	padding: 10px;
}
.score_image {
	float: left;
}
.score_name {
	color: rgb(39, 91, 152);
	background-color: rgb(229, 235, 242);
	float: left;
	width: 165px;
	border-right: 1px solid #E2E2E2;
	padding: 4px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
}
.score_score {
	font-weight: bold;
	float: left;
	color: rgb(39, 91, 152);
	background-color: rgb(229, 235, 242);
	width: 45px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 8px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: right;
}

.bold {
	font-weight: bold;
}